body {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background: #ffffff url("img/keks-background.jpg") no-repeat 50% 0;
}

h1 {
  width: 260px;
  font-family: "Georgia", serif;
  font-size: 36px;
  line-height: 36px;
}

h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc;
}

.site-header {
  margin-bottom: 30px;
}

.main {
  width: 480px;
  margin: 0 auto;
}